/*************************************
Global
*************************************/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: rgb(51,51,51);
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1000px;
}

/*************************************
Header
*************************************/

.main-header {
	text-align: center;
	color: rgb(255,255,255);
	height: 50vh;
	background-image: linear-gradient(to right, rgb(103,178,111),rgba(76,162,205,0.8)),url('img/pexels-photo-904616.jpeg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-text {
	background-color: rgb(0,0,0,0.6);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*************************************
Main
*************************************/

.main {
	display: flex;
	flex-direction: column;
}

#my-form {
	padding: 1rem;
	background-color: rgb(51,51,51);
	color: rgb(255,255,255);
	display: flex;
	flex-direction: column;
}

.textInput {
	padding: 1rem;
	border-radius: 10px;
	border: 2px solid transparent;
	transition: border 1s ease-in;
	margin-bottom: 1rem;
}

.textInput:focus {
	outline: none;
	border: 2px solid rgb(52,152,219);
}

.submit {
	padding: 1rem;
	background-color: rgb(52,152,219);
	color: rgb(255,255,255);
	border: none;
}

.submit:hover {
	background-color: rgb(70,152,219);
	cursor: pointer;
}

#list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem {
	padding: 1rem;
	background: #eee;
	border: 1px solid #999;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.remove {
	background-color: #c0392b;
	color: #fff;
	border: none;
	margin-top: auto;
}

.remove:hover {
	cursor: pointer;
	background-color: rgb(192,70,43);
}

.remove:focus,
.submit:focus,
.searchInput:focus {
	outline: none;
}

.search {
	padding: 1rem;
	background-color: #ccc;
	color: rgb(255,255,255);
	text-align: center;
}

.searchInput {
	width: 70%;
	padding: 1rem;
	border: 10px;
}

/*************************************
Footer
*************************************/

.main-footer {
	background-color: rgb(204,204,204);
	padding: 1rem;
	text-align: center;
	margin-top: auto;
}

/*************************************
Media Queries
*************************************/

@media (min-width: 768px) {
	.container {
		width: 90%;
	}
	#my-form {
		flex-direction: row;
		justify-content: center;
	}
	.textInput {
		width: 60%;
		margin-bottom: 0;
	}
	.submit {
		width: 20%;
		height: 51px;
		margin-left: .5rem;
	}
	#list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	#list li {
		width: 25%;
	}
	.searchInput {
		width: 50%;
	}
}